ruby:
  if self_checkout_result = flash[:self_checkout_result].presence
    key, message = self_checkout_result.first
    flash[:self_checkout_result].clear

    card_class = case key.to_sym
      when :success
        "bg-success text-white"
      when :error
        "bg-danger text-white"
      else
        "bg-light"
      end

    card_class += " animate__animated animate__flipInX"

    icon = case key.to_sym
      when :success
        "fas fa-check-circle"
      when :error
        "fas fa-exclamation-triangle"
      else
        "fas fa-info-circle"
      end
  end

.card.shadow.rounded(class=card_class)
  .card-body
    - if self_checkout_result
      .d-flex.align-items-center
        .mr-3: i.fa-5x(class=icon)
        .lead == message
    - else
      ' Bitte warten...

javascript:
  setTimeout(
    function() {
      location.href="#{new_self_checkout_path}"
    }, 2500
  );
