.callout {
  padding: $spacer;
  margin-bottom: $spacer;
  border: 1px solid gray("300");
  border-left-width: 5px;
  border-radius: $border-radius;
}

@each $name, $color in $theme-colors {
  .callout-#{$name} {
    border-left-color: $color;
  }
}
