- if @break_stats.present?
  ruby:
    graph_data1 = {
      type: 'bar',
      data: {
        labels: @break_stats.map{|k,v| l(k, format: "%d.%m.%Y")},
        datasets: [
          {
            label: "Zurück",
            backgroundColor: "rgba(54, 162, 235, 0.8)",
            data: @break_stats.map{|k,v| v["RETURNED"]},
            trendlineLinear: {
              style: "rgba(54, 162, 235, 0.8)",
              lineStyle: "dotted",
              width: 3
            }
          },
          {
            label: "Nicht zurück",
            backgroundColor: "rgba(255, 99, 132, 0.8)",
            data: @break_stats.map{|k,v| v["OVERDUE"]}
          }
        ]
      },
      options: {
        responsive: true,
        scales: {
          xAxes: [{
            stacked: true
          }],
          yAxes: [{
            stacked: true
          }]
        }
      }
    }

    graph_data2 = {
      type: 'bar',
      data: {
        labels: @break_stats.map{|k,v| l(k, format: "%d.%m.%Y")},
        datasets: [
          {
            label: "Pausenzeit (Durchschnitt)",
            backgroundColor: "rgba(54, 162, 235, 0.8)",
            data: @break_stats.map{|k,v| v["AVERAGE_TIME_MINUTES"]},
            trendlineLinear: {
              style: "rgba(54, 162, 235, 0.8)",
              lineStyle: "dotted",
              width: 3
            }
          }
        ]
      },
      options: {
        responsive: true
      }
    }

  .mb-3(
    data-controller="graph"
    data-graph-data=graph_data1.to_json
  )
    canvas(width="100%" height="30" data-target="graph.output")

  .mb-3(
    data-controller="graph"
    data-graph-data=graph_data2.to_json
  )
    canvas(width="100%" height="30" data-target="graph.output")

.card.card-primary.card-cutoff-corner
  .card-header
    h5.mb-0 = "Pausen der letzen 30 Tage"
  .card-body
    - if @break_stats.present?
      .table-responsive
        table.table.mb-0
          thead
            tr
              th(scope="col") = "Datum"
              th(scope="col") = "Gesamt"
              th(scope="col") = "Zeit (Durchschnitt)"
              th(scope="col") = "Zurück"
              th(scope="col") = "Zurück %"
              th(scope="col") = "Nicht zurück"
              th(scope="col") = "Nicht zurück %"
          tbody
            - @break_stats.each do |k, v|
              tr
                td
                  = l(k, format: "%d.%m.%Y")
                  br
                  = l(k, format: "%A")
                td = v["TOTAL"]
                td = distance_of_time_in_words(v["AVERAGE_TIME_SECONDS"])
                td = v["RETURNED"]
                td = number_with_precision(v["RETURNED"].fdiv(v["TOTAL"]) * 100, precision: 2) + "%"
                td = v["OVERDUE"]
                td = number_with_precision(v["OVERDUE"].fdiv(v["TOTAL"]) * 100, precision: 2) + "%"
    - else
      .alert.alert-info.mb-0
        ' Keine Statistiken über Pausen verfügbar.
