default: &default
  max_people: 50

  username: foo
  password: bar

  id_filter_proc: >
    ->(id) {
      id.gsub(/\s+/, "").upcase
    }

  valid_ids: # List of regexps
    - !ruby/regexp /\AXX/
    - !ruby/regexp /\AXY/

  data_matching_required_for_ids: # List of regexps
    - !ruby/regexp /\AXY/

development:
  <<: *default

production:
  <<: *default
