.callout.callout-warning.mb-0
  i.fas.fa-exclamation-triangle.fa-lg.mr-1
  ' Aktuell ist die Reservierung von Arbeitsplätzen nicht möglich.
  ' Arbeitsplätze können vor Ort wieder ohne Reservierung genutzt werden.
